<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>CFBundleName</key>
    <string>Missting</string>
    <key>CFBundleIconFile</key>
    <string>Missting</string>
    <key>CFBundleIdentifier</key>
    <string>com.missting.app</string>
    <key>CFBundleVersion</key>
    <string>1.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/HaoSophareth/missting/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>Ute+yPgs9uaorkzo+gU3t5j75XL3gi78xZZ13d7H13g=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>NSUserNotificationAlertStyle</key>
    <string>alert</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.34429310373-fb6vc3rr5i7c9c8oi0i7vvueslk18j7m</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
